.cards {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;


}

.text-center {

  text-align: center;

}

.card {
  display: flex;
  flex-basis: 150px;
  flex-grow: 1;
  height: 260px;
  max-width: 250px;
  flex-direction: column;
  margin: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;

}

.card img{

  height: 100px;

}

.card h2 {

  font-size: 18px;

}

.card p {

  font-size: 12px;

}
